<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Avaliaçãode</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>Sistema de Avaliação de Alunos </h1>
        <h2>Olá ! Essa é a tela de cadastro da Turma</h2>
        <br>
    <h2>Cadastro da Turma</h2>

    <form action="/cad_turma" method="post"  >
      {{form.csrf_token}}
        {{form.hidden_tag()}}
        {{form.serie_turma.label}}
        {{form.serie_turma}} <br>
        {{form.ano_turma.label}}
        {{form.ano_turma}} <br>
        {{form.id_professor.label}}
        {{form.id_professor}} <br>
        {{form.submit()}}
    </form>
    
    
<br>

    <br>
    <table border="1">
        <tr bgcolor="yellow">
            <th>
                Série   
            </th>
            <th>
                Ano
            </th>
            <th>
                Id do Professor
            </th>
            
        </tr>
        {% for turma in turma_list:%}
            <tr>
                <td>
                    {{ turma[1] }}
                </td>    
                <td>
                    {{ turma[2] }}
                </td>
                <td>
                    {{ turma[3] }}
                </td>
                
            </tr>
        {% endfor %}
    </table>    

</body>
</html>