{% extends 'base.html' %}

{% block content %}

      
        <br>
    <h2>Cadastro da Turma</h2>

    <form class="form-group" action="/cad_turma" method="post"  >
      {{form.csrf_token}}
        {{form.hidden_tag()}}
        <div class="form-group">      
            {{form.serie_turma.label(class="form-control-label", for="serie_turma")}}
            {{form.serie_turma(placeholder="Digite a turma, por exemplo: 1A Tarde", class="form-control", id="serie_turma")}} </div><br>
        <div class="form-group">
            {{form.ano_turma.label(class="form-control-label", for="ano_turma")}}
            {{form.ano_turma(placeholder="Digite o ano da turma, por exemplo: 2024", class="form-control", id="ano_turma")}} </div><br>
        <div class="form-group">
            
            {{form.id_professor.label(class="form-control-label", for="id_professor")}}
            {{form.id_professor(placeholder="Selecione o professor", class="form-select", id="id_professor")}}</div> <br>
        {{form.submit(class="btn btn-secondary")}}
    </form>


<br>

    <br>
    <table border='2' class="table table-striped">
        <tr bgcolor="yellow">
            <th>
                Série   
            </th>
            <th>
                Ano
            </th>
            <th>
                ID do Professor
            </th>

        </tr>
        {% for turma in turma_list:%}
            <tr>
                <td>
                    {{ turma[1] }}
                </td>    
                <td>
                    {{ turma[2] }}
                </td>
                <td>
                    {{ turma[3] }}
                </td>

            </tr>
        {% endfor %}
    </table>    

{% endblock %}