{% extends 'base.html' %}

{% block content %}
        
<br>
    <h2>Cadastro da Escola</h2>
        <form class="form-group" action="/cad_escola" method="post" autocomplete="off">
            <div><label class="form-control-label" for="nome_escola">Nome:</label>
            <input class="form-control" placeholder="Digite o nome da Escola" type="text" name="nome_escola" id="nome_escola"></div><br>
            <div><label class="form-control-label" for="endereco">Endereço:</label>
            <input class="form-control" placeholder="Digite o endereço da Escola"  type="text" name="endereco" id="endereco"></div><br>
            
            <div><label class="form-control-label" for="cidade">Cidade:</label>
            <input class="form-control" placeholder="Digite o nome da Cidade" type="text" name="cidade" id="cidade"></div><br>
            
            <div><label class="form-control-label" for="estado">Estado:</label>
            <input class="form-control" placeholder="Digie o Estado" type="text" type="text" name="estado" id="estado"</div><br>

            <div><input class="btn btn-secondary" type="submit" value="Cadastrar"></div>

        </form>
<br>

    <br>
    <table border='2' class="table table-striped">
        <tr>
            <th>
                Nome da Escola   
            </th>
            <th>
                Endereço
            </th>
            <th>
                Cidade
            </th>
            <th>
            UF
            </th>
            <th> 
                ID da Escola
            </th>
        </tr>
        {% for escola in escola_list:%}
            <tr>
                <td>
                    {{ escola[1] }}
                </td>    
                <td>
                    {{ escola[2] }}
                </td>
                <td>
                    {{ escola[3] }}
                </td>
                <td>
                    {{ escola[4] }}
                </td>
                <td>
                    {{ escola[0] }}
                </td>   
            </tr>
        {% endfor %}
    </table>    

{% endblock %}