{% extends 'base.html' %}

{% block content %}

    <br>
    <h2>Cadastro de Avaliações</h2>

    <form class="form-group" action="/cad_avaliacao" method="post" >
        {{form.csrf_token}}
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.id_aluno.label(class="form-control-label", for="id_aluno")}}
            {{form.id_aluno(class="form-select", id="id_aluno")}} </div><br>
        <div class="form-group">
            {{form.id_sondagem.label(class="form-group", for="id_aluno")}}
            {{form.id_sondagem(class="form-select", id="id_aluno")}} </div><br>
        
        <div class="form-group">
            {{form.data_avaliacao.label(class="form-control-label", for="data_avaliacao")}}
            {{form.data_avaliacao(placeholder="Digite a data da avaliacao, por exemplo: 05/11/2024", class="form-control", id="data_avaliacao")}} </div><br>
        <div class="form-group">
            {{form.hipotese_escrita.label(class="form-control-label", for="hipotese_escrita")}}
            {{form.hipotese_escrita(class="form-select", id="data_avaliacao")}} </div><br>

        {{form.submit(class="btn btn-secondary")}}
    </form>


<br>

    <br>
    <table bborder='2' class="table table-striped">
        <tr bgcolor="yellow">
            <th>
               Data da Avaliação
            </th>
            <th>
                Hipótese de Escrita
            </th>
            <th>
                ID da Sondagem
            </th>
            <th>
                Matéria
            </th>
            <th>
                Nome do Aluno
            </th>
            <th>
                Série
            </th>
            <th>
                Ano da turma
            </th>
            <th>
                Nome do Professor
            </th>

        </tr>
        {% for avaliacao in avaliacao_list:%}
            <tr>
                <td>
                    {{ avaliacao[0] }}
                </td>
                <td>
                    {{ avaliacao[1] }}
                </td>    
                <td>
                    {{ avaliacao[2] }}
                </td>
                <td>
                    {{ avaliacao[3] }}
                </td>
                <td>
                    {{ avaliacao[4] }}
                </td>
                <td>
                    {{ avaliacao[5] }}
                </td>
                <td>
                    {{ avaliacao[6] }}
                </td>
                <td>
                    {{ avaliacao[7] }}
                </td>

            </tr>
        {% endfor %}
    </table>    
{% endblock %}