{% extends 'base.html' %}

{% block content %}


        <br>
    <h2>Cadastro de Alunos</h2>

    <form class="form-group" action="/cad_aluno" method="post" >
      {{form.csrf_token}}
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.nome_aluno.label(class="form-control-label", for="nome_aluno")}}
            {{form.nome_aluno(placeholder="Digite o nome completo do aluno", class="form-control", id="nome_aluno")}} </div><br>
        <div class="form-group">
            {{form.nome_responsavel1.label(class="form-control-label", for="nome_responsavel1")}}
            {{form.nome_responsavel1(placeholder="Digite o nome completo do responsável",class="form-control", id="nome_responsavel1")}}</div> <br>
        <div class="form-group">
            {{form.nome_responsavel2.label(class="form-control-label", for="nome_responsavel2")}}
            {{form.nome_responsavel2(placeholder="Digite o nome completo de ujm segundo responsável",class="form-control", id="nome_responsavel2")}} </div> <br>
        <div class="form-group">
            {{form.data_nascimento.label(class="form-control-label", for="data_nascimento")}}
        {{form.data_nascimento(placeholder="Digite a data de nascimento, por exemplo: 01/11/2020",class="form-control", id="data_nascimento")}} </div> <br>
        <div class="form-group">
            {{form.telefone_contato.label(class="form-control-label", for="telefone_contato")}}
            {{form.telefone_contato(placeholder="Digite o telefone de contato, por exemplo: 19 99999-8888",class="form-control", id="telefone_contato")}}</div> <br>
        <div class="form-group">
        {{form.id_turma.label(class="form-control-label", for="id_turma")}}    
        {{form.id_turma(class="form-select", id="id_turma")}} </div><br>
        {{form.submit(class="btn btn-secondary")}}
    </form>


<br>

    <br>
    <table bborder='2' class="table table-striped">
        <tr bgcolor="yellow">
            <th>
               Nome do Aluno   
            </th>
            <th>
                Nome Responsável 1
            </th>
            <th>
                Nome Responsável 2
            </th>
            <th>
                Data de Nascimento
            </th>
            <th>
                Telefone de Contato
            </th>
            <th>
                ID da Turma
            </th>
            <th>
                Ações
            </th>
        </tr>
        {% for aluno in aluno_list:%}
            <tr>
                <td>
                    {{ aluno[1] }}
                </td>
                <td>
                    {{ aluno[2] }}
                </td>    
                <td>
                    {{ aluno[3] }}
                </td>
                <td>
                    {{ aluno[4] }}
                </td>
                <td>
                    {{ aluno[5] }}
                </td>
                <td>
                    {{ aluno[6] }}
                </td>

                <td>
                    <button type="button" class="btn btn-warning btn-xs" data-bs-toggle="modal" data-bs-target="#modal_aluno{{aluno[0]}}">
                          Alterar
                        </button>
                        <a href="/del_aluno/{{aluno[0]}}" class="btn btn-danger btn-xs" onclick="return confirm('Tem certeza que deseja apagar o registro?')">Apagar</a>
                </td>
                
            </tr>

        <!-- Modal -->
                    <div class="modal fade" id="modal_aluno{{aluno[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Alteração de Cadastro</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
        <!-- Incluir formulario abaixo -->
                    <form class="form-group" action="/alt_aluno" method="post" >
                    {{form.csrf_token}}
                    {{form.id_aluno(value=aluno[0])}}
                    <div class="form-group">
                    {{form.nome_aluno.label(class="form-control-label", for="nome_aluno")}}
                    {{form.nome_aluno(value=aluno[1], class="form-control", id="nome_aluno")}} </div><br>
                    <div class="form-group">
                    {{form.nome_responsavel1.label(class="form-control-label", for="nome_responsavel1")}}
                    {{form.nome_responsavel1(value=aluno[2],class="form-control", id="nome_responsavel1")}}</div> <br>
                    <div class="form-group">
                    {{form.nome_responsavel2.label(class="form-control-label", for="nome_responsavel2")}}
                    {{form.nome_responsavel2(value=aluno[3] ,class="form-control", id="nome_responsavel2")}} </div> <br>
                    <div class="form-group">
                    {{form.data_nascimento.label(class="form-control-label", for="data_nascimento")}}
                    {{form.data_nascimento(value=aluno[4],class="form-control", id="data_nascimento")}} </div> <br>
                    <div class="form-group">
                    {{form.telefone_contato.label(class="form-control-label", for="telefone_contato")}}
                    {{form.telefone_contato(value=aluno[5],class="form-control", id="telefone_contato")}}</div> <br>
                    <div class="form-group">
                    {{form.id_turma.label(class="form-control-label", for="id_turma")}}    
                    {{form.id_turma(class="form-select", id="id_turma", alue=aluno[6] )}} </div><br>
                    {{form.submit_alt(class="btn btn-warning btn-xs")}}
                    </form>
                           
                
                    
                    </form>

            <!-- Fim do formulario -->
                            </form>


                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>



                          </div>
                        </div>
                      </div>
                    </div>
                <!-- Fim da modal acima-->


        
        {% endfor %}
    </table>    
{% endblock %}