{% extends 'base.html' %}

{% block content %}



    <br>
    <h2>Cadastro da Sondagem</h2>

    <form class="form-group" action="/cad_sondagem" method="post" >
        {{form.csrf_token}}
        {{form.hidden_tag()}}
       <div class="form-group"> 
            {{form.materia.label(class="form-control-label", for="materia")}}
            {{form.materia(class="form-select", id="materia")}}</div> <br>
       <div class="form-group">
            {{form.campo_semantico.label(class="form-control-label", for="campo_semantico")}}
            {{form.campo_semantico(placeholder="Digite o campo semântico" , class="form-control", id="campo_semantico")}} </div><br>
        <div class="form-group">
            {{form.valores_ditados.label(class="form-control-label", for="valores_ditados")}}
            {{form.valores_ditados(placeholder="Digite os valores ditados" , class="form-control", id="valores_ditados")}} </div><br>
        <div iv class="form-group">
            {{form.data_sondagem.label(class="form-control-label", for="data_sondagem")}}
            {{form.data_sondagem(placeholder="Digite a data da sondagem,  por exemplo: 14/11/2024" , class="form-control", id="data_sondagem")}} </div><br>
        {{form.submit(class="btn btn-secondary")}}
    </form>


<br>

    <br>
    <table border="1">
        <tr bgcolor="yellow">
            <th>
                ID da Sondagem   
            </th>
            <th>
                Matéria   
            </th>
            <th>
                Campo Semantico
            </th>
            <th>
                Valores Ditados
            </th>
            <th>
                Data da Sondagem
            </th>
        </tr>
        {% for sondagem in sondagem_list:%}
            <tr>
                <td>
                    {{ sondagem[0] }}
                </td>
                <td>
                    {{ sondagem[1] }}
                </td>    
                <td>
                    {{ sondagem[2] }}
                </td>
                <td>
                    {{ sondagem[3] }}
                </td>
                <td>
                    {{ sondagem[4] }}
                </td>
            </tr>
        {% endfor %}
    </table>    

{% endblock %}