{% extends 'base.html' %}

{% block content %}
        <br>
    <h2>Cadastro de Professor</h2>
        <form class="form-group" action="/cad_professor" method="post" autocomplete="off">
            <div><label class="form-control-label" for="nome_prof">Nome completo:</label>
                <input class="form-control" placeholder="Digite o nome completo" type="text" name="nome_prof" id="nome_prof"></div><br>
            
            <div><label class="form-control-label"  for="email_prof">E-mail:</label>
            <input class="form-control" placeholder="Digite o e-mail, por exemplo: professor@email.com.br" type="text"type="text" name="email_prof" id="email_prof"</div><br>

            <div><label class="form-control-label" for="telefone">Telefone de contato:</label>
            <input class="form-control" placeholder="Digite o telefone, por exemplo: 19 9999-8888"  type="text" name="telefone" id="telefone"></div><br>
            
            <div><label class="form-control-label" for="id_escola">Selecione o ID da escola:</label>
            <input class="form-select" type="text" name="id_escola" id="id_escola"></div><br>
            
            <p> <input class="btn btn-secondary" type="submit" value="Cadastrar"></p>

        </form>
<br>
    <table border='3'>
        <tr>
            <th>
                Nome    
            </th>
            <th>
                E-mail
            </th>
            <th>
                Telefone
            </th>
            <th>
                ID escola
            </th>
        </tr>
        {% for prof in prof_list:%}
            <tr>
                <td>
                    {{ prof[1] }}
                </td>    
                <td>
                    {{ prof[2] }}
                </td>
                <td>
                    {{ prof[3] }}
                </td>
                <td>
                    {{ prof[4] }}
                </td>
            </tr>
        {% endfor %}
    </table>    


    {% endblock %}