<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sistema de Avaliaçãode</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
<h1> Sistema de Avaliação de Alunos </h1>
    <h2>Olá !</h2>
<a href="https://3bd52bc4-3feb-4a2e-b0e3-5f0895f55826-00-39hra71vsy9er.worf.replit.dev/cadastro"> Cadastros Professor</a><br>
    <a href="https://3bd52bc4-3feb-4a2e-b0e3-5f0895f55826-00-39hra71vsy9er.worf.replit.dev/cad_escola"> Cadastros Escola</a><br>
    <a href="https://3bd52bc4-3feb-4a2e-b0e3-5f0895f55826-00-39hra71vsy9er.worf.replit.dev/cad_turma"> Cadastros Turma</a><br>
    <a href="https://3bd52bc4-3feb-4a2e-b0e3-5f0895f55826-00-39hra71vsy9er.worf.replit.dev/cad_sondagem"> Cadastros de Sondagem</a> <br>
    <a href="https://3bd52bc4-3feb-4a2e-b0e3-5f0895f55826-00-39hra71vsy9er.worf.replit.dev/cad_aluno"> Cadastros de Alunos</a><br>
    <a href="https://3bd52bc4-3feb-4a2e-b0e3-5f0895f55826-00-39hra71vsy9er.worf.replit.dev/cad_avaliacao"> Cadastros de Avaliações</a>
    
</body>
</html>