{% extends 'base.html' %}

{% block content %}
        <br>
    <h2><p class="text-center">PNA – O que é Alfabetização?</p></h2>
    <p>A palavra alfabetização é muitas vezes usada de modo impreciso, resultando confusão pedagógica e didática, dificuldade de diálogo entre as pessoas envolvidas na educação, além de desconhecimento para os pais, que muitas vezes acreditam que seus filhos foram alfabetizados, quando, na verdade, mal sabem ler palavras. A PNA, com base na ciência cognitiva da leitura, define alfabetização como o ensino das habilidades de leitura e de escrita em um sistema alfabético.</p><br>
        <p>Sistema alfabético é aquele que representa com os caracteres do alfabeto (letras) os sons da fala. Os primeiros sistemas de escrita foram inventados há cerca de 6 mil anos, originalmente em forma de representações pictóricas. A escrita alfabética é mais recente, remonta a 4 ou 5 mil anos. Existem diferentes sistemas de escrita para diferentes línguas; no entanto, quando se ensina a ler e a escrever em um sistema alfabético, o que se ensina é um modo de representação gráfica que representa sons por meio de letras (MORAIS, 2014). </p> <br>

<h2><p class="text-center">BNCC – Habilidades específicas do 1º ano</p></h2><br>
<p>(EF01LP02) Escrever, espontaneamente ou por ditado, palavras e frases de forma alfabética – usando letras/grafemas que representem fonemas.</p><br>
<p>(EF12LP01) Ler palavras novas com precisão na decodificação, no caso de palavras de uso frequente, ler globalmente, por memorização.</p>        

<image src="{{url_for('static', filename='sondagem.png')}}" class="img-fluid" alt="..."> 









   {% endblock %}